<div class="tui-row">
  <div class="tui-col_md-12">
    <tui-input [formControl]="searchControl" icon="tuiIconSearch" iconAlign="left">
      Поиск
    </tui-input>
  </div>
  <div class="tui-col_md-12 tui-space_top-2">
    <button
      #parent="tuiActiveZone"
      tuiButton
      type="button"
      icon="tuiIconPlusLarge"
      appearance="primary"
      (click)="addFilter(true)"
      (tuiActiveZoneChange)="addFilter(false)"
    >
      Добавить фильтр
    </button>
    <div *ngFor="let badge of filterBadges">
      {{ badge.name }}
    </div>
  </div>
</div>

<div *tuiSidebar="showSideBar; direction: 'left'" [tuiActiveZoneParent]="parent">
  <efes-filters></efes-filters>
</div>
