<div class="tui-container">
  <tui-island textAlign="center" [formGroup]="signUpForm">
    <tui-input formControlName="name">ФИО</tui-input>
    <tui-input formControlName="email">Почта</tui-input>
    <tui-input-phone formControlName="phone">Телефон</tui-input-phone>
    <tui-input-password formControlName="password">Пароль</tui-input-password>
    <tui-select formControlName="roleId" [valueContent]="roleContent">
      Выберите роль
      <tui-data-list-wrapper
        *tuiDataList
        [items]="roles"
        [itemContent]="roleContent"
      ></tui-data-list-wrapper>
    </tui-select>
    <button tuiButton type="button" appearance="secondary" [routerLink]="['/sign-in']">
      Авторизация
    </button>
    <button tuiButton type="button" appearance="primary" (click)="signUp()">Подтвердить</button>
  </tui-island>
</div>

<ng-template #roleContent let-role>
  <div>{{ role.name }}</div>
</ng-template>
