<tui-loader class="loader" [overlay]="true" [showLoader]="loading">
  <div *ngIf="!loading" class="tui-row tui-space_vertical-4">
    <div class="tui-col_md-4">
      <efes-personal-info [user]="user"></efes-personal-info>
      <efes-additional-info
        *ngIf="profile"
        [company]="profile.company"
        [documents]="profile.documents"
      ></efes-additional-info>
    </div>
    <div class="tui-col_md-8">
      <efes-statistics
        *ngIf="profile"
        [completeOrders]="profile.completeOrders"
        [views]="profile.views"
        [totalSums]="profile.totalSums"
      ></efes-statistics>
    </div>
  </div>
</tui-loader>
