<div class="tui-row jc-center">
  <div class="tui-col_md-6">
    <tui-island textAlign="center" [formGroup]="logInForm">
      <div class="tui-space_bottom-4">
        <tui-input formControlName="email">Логин</tui-input>
        <tui-field-error formControlName="email"></tui-field-error>
      </div>
      <div class="tui-space_bottom-4">
        <tui-input-password formControlName="password">Пароль</tui-input-password>
        <tui-field-error formControlName="password"></tui-field-error>
      </div>
      <button
        tuiButton
        type="button"
        appearance="secondary"
        [routerLink]="['/sign-up']"
        class="tui-space_right-4"
      >
        Регистрация
      </button>
      <button tuiButton type="button" appearance="primary" (click)="signIn()">Вход</button>
    </tui-island>
  </div>
</div>
