<div *ngIf="filtersControls.length" class="tui-container tui-container_fullwidth">
  <div *ngFor="let filter of filters; let i = index" class="tui-space_top-4">
    <tui-multi-select
      [formControl]="filtersControls[i][filter.key]"
      [expandable]="false"
      [editable]="false"
      [identityMatcher]="matcher"
      [stringify]="stringify"
    >
      {{ filter.name }}
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="filter.values"
        [itemContent]="filterContent"
      ></tui-data-list-wrapper>
    </tui-multi-select>
  </div>
</div>

<ng-template #filterContent let-item>
  {{ item.name }}
</ng-template>
