<tui-root>
  <div class="tui-row">
    <div class="tui-col_md-6">
      <a tuiLink routerLink="/home">Главная</a>
      <a tuiLink routerLink="/rates">Тарифы</a>
      <a tuiLink routerLink="/feedback">Отзывы</a>
    </div>
    <div class="tui-col_md-6">
      <button tuiButton type="button" appearance="flat" routerLink="/sign-up">Регистрация</button>
      <button tuiButton type="button" appearance="flat" routerLink="/sign-in">Вход</button>
      <button
        *ngIf="tokenService.getRefreshToken()"
        (click)="onExit()"
        tuiButton
        type="button"
        appearance="flat"
        routerLink="/feedback"
      >
        Выход
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</tui-root>
