<tui-root>
  <div class="tui-container tui-container_fullwidth">
    <div class="tui-row tui-space_top-2 tui-space_bottom-6 border-bottom menu">
      <ng-container
        [ngTemplateOutlet]="isAuthorized ? userAuthorized : userNonAuthorized"
      ></ng-container>
      <ng-template #userAuthorized>
        <div class="tui-col_md-6 tui-space_bottom-2 flex jc-start ai-center font-as-button">
          <!--  TODO [volik25 | 14.09.2021]: Заменить роуты после создания модулей  -->
          <a class="tui-space_left-4 tui-space_right-4" tuiLink routerLink="/search">Поиск</a>
          <a class="tui-space_right-4" tuiLink routerLink="/profile">Мои заказы</a>
          <a class="tui-space_right-4" tuiLink routerLink="/profile">Избранное</a>
        </div>
        <div class="tui-col_md-6 tui-space_bottom-2 flex jc-end ai-center font-as-button">
          <a class="tui-space_right-4" tuiLink routerLink="/rates">Тарифы</a>
          <a *ngIf="url !== '/profile'" class="tui-space_right-4" tuiLink routerLink="/profile"
            >Личный кабинет</a
          >
          <a *ngIf="url === '/profile'" class="tui-space_right-4" tuiLink (click)="onExit()"
            >Выход</a
          >
        </div>
      </ng-template>
      <ng-template #userNonAuthorized>
        <div class="tui-col_md-6 tui-space_bottom-2 flex jc-start ai-center font-as-button">
          <a class="tui-space_left-4 tui-space_right-4" tuiLink routerLink="/home">Главная</a>
          <a class="tui-space_right-4" tuiLink routerLink="/rates">Тарифы</a>
          <a tuiLink routerLink="/feedback">Отзывы</a>
        </div>
        <div class="tui-col_md-6 tui-space_bottom-2 flex jc-end">
          <button tuiButton type="button" appearance="flat" routerLink="/sign-up">
            Регистрация
          </button>
          <button
            tuiButton
            type="button"
            appearance="flat"
            routerLink="/sign-in"
            class="tui-space_left-2"
          >
            Вход
          </button>
        </div>
      </ng-template>
    </div>
    <router-outlet></router-outlet>
  </div>
</tui-root>
