/* You can add global styles to this file, and also import other style files */
.flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.hidden {
  display: none !important;
}

.jc-center {
  justify-content: center !important;
}

.jc-start {
  justify-content: flex-start !important;
}

.jc-end {
  justify-content: flex-end !important;
}

.jc-between {
  justify-content: space-between !important;
}

.jc-around {
  justify-content: space-around !important;
}

.ai-center {
  align-items: center !important;
}

.ai-start {
  align-items: flex-start !important;
}

.ai-end {
  align-items: flex-end !important;
}

.font-as-button {
  font-size: 0.9375rem !important;
}

.pointer {
  cursor: pointer !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.custom-loader {
  min-height: 300px;
}

.w-100 {
  width: 100%;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.border-bottom {
  border-bottom: 1px solid var(--tui-base-03);
}
